<?xml version="1.0"?>
<!--
/**
 * Copyright © Magefan (support@magefan.com). All rights reserved.
 * Please visit Magefan.com for license details (https://magefan.com/end-user-license-agreement).
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Magento_Backend::tools"
             title="Cli"
             module="Magefan_Cli"
             sortOrder="60"
             parent="Magento_Backend::system"
             resource="Magento_Backend::tools"/>
        <add id="Magefan_Cli::admin"
             title="Command Line"
             module="Magefan_Cli"
             sortOrder="70"
             parent="Magento_Backend::tools"
             action="mfcli/index/index"
             resource="Magefan_Cli::admin"/>
        <add id="Magefan_Cli::history"
             title="Command Line History"
             module="Magefan_Cli"
             sortOrder="80"
             parent="Magento_Backend::tools"
             action="mfcli/history/index"
             resource="Magefan_Cli::history"/>
    </menu>
</config>